<div class="min-h-screen bg-gray-100 p-4 sm:p-12">
  <div
    class="mx-auto max-w-lg border-0 bg-white px-6 py-12 shadow-lg sm:rounded-3xl"
  >
    <div class="container mx-auto p-4">
      <h2 class="mb-4 text-2xl">Create a New Recipe</h2>
      <form (ngSubmit)="onSubmit()">
        <!-- Step 1: Basic Info -->
        @if (currentStep === 1) {
          <div>
            <div class="relative z-0 mb-4 w-full">
              <input
                type="text"
                name="name"
                placeholder=" "
                required
                class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                [(ngModel)]="recipe.name"
              />
              <label
                class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                >Name</label
              >
            </div>
            <div class="relative z-0 mb-4 w-full">
              <input
                type="text"
                name="image"
                placeholder=" "
                required
                class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                [(ngModel)]="recipe.image"
              />
              <label
                class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                >Image URL</label
              >
            </div>
            <div class="flex space-x-4">
              <div class="mb-4 w-1/4">
                <label class="mb-2 block text-sm font-medium"
                  >Prep Time (minutes)</label
                >
                <input
                  class="w-full rounded border p-2"
                  type="number"
                  [(ngModel)]="recipe.prepTime"
                  name="prepTime"
                  required
                />
              </div>
              <div class="mb-4 w-1/4">
                <label class="mb-2 block text-sm font-medium"
                  >Cook Time (minutes)</label
                >
                <input
                  class="w-full rounded border p-2"
                  type="number"
                  [(ngModel)]="recipe.cookTime"
                  name="cookTime"
                  required
                />
              </div>
              <div class="mb-4 w-1/4">
                <label class="mb-2 block text-sm font-medium"
                  >Total Time (minutes)</label
                >
                <input
                  class="w-full rounded border p-2"
                  type="number"
                  [(ngModel)]="recipe.totalTime"
                  name="totalTime"
                  required
                />
              </div>
              <div class="mb-4 w-1/4">
                <label class="mb-2 block text-sm font-medium">Servings</label>
                <input
                  class="w-full rounded border p-2"
                  type="number"
                  [(ngModel)]="recipe.servings"
                  name="servings"
                  required
                />
              </div>
            </div>

            <div class="relative z-0 mb-4 w-full">
              <textarea
                name="description"
                placeholder=" "
                required
                class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                [(ngModel)]="recipe.description"
              ></textarea>
              <label
                class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                >Description</label
              >
            </div>
            <div class="relative z-0 mb-4 w-full">
              <select
                name="countryName"
                placeholder=" "
                required
                class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                [(ngModel)]="recipe.countryName"
              >
                <option value="" selected disabled hidden></option>
                @for (country of countries; track country) {
                  <option [value]="country.countryName">
                    {{ country.countryName }}
                  </option>
                }
              </select>
              <label
                class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                >Country</label
              >
            </div>
            <div class="relative z-0 mb-4 w-full">
              <select
                name="recipeType"
                placeholder=" "
                required
                class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                [(ngModel)]="recipe.recipeType.name"
              >
                <option value="" selected disabled hidden></option>
                @for (type of recipeTypes; track type) {
                  <option [value]="type.name">{{ type.name }}</option>
                }
              </select>
              <label
                class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                >Recipe Type</label
              >
            </div>
          </div>
        }

        <!-- Step 2: Ingredients -->
        @if (currentStep === 2) {
          <div>
            <div class="mb-4">
              <label class="mb-2 block text-sm font-medium">Ingredients</label>
              @for (
                ingredient of recipe.ingredients;
                track ingredient;
                let i = $index
              ) {
                <div>
                  <div class="relative z-0 mb-4 w-full">
                    <input
                      type="text"
                      name="ingredientName{{ i }}"
                      placeholder=" "
                      required
                      class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                      [(ngModel)]="recipe.ingredients[i].name"
                    />
                    <label
                      class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                      >Name</label
                    >
                  </div>
                  <div class="relative z-0 mb-4 w-full">
                    <input
                      type="number"
                      name="ingredientQuantity{{ i }}"
                      placeholder=" "
                      required
                      class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                      [(ngModel)]="recipe.ingredients[i].quantity"
                    />
                    <label
                      class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                      >Quantity</label
                    >
                  </div>
                  <div class="relative z-0 mb-4 w-full">
                    <input
                      type="text"
                      name="ingredientUnit{{ i }}"
                      placeholder=" "
                      required
                      class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                      [(ngModel)]="recipe.ingredients[i].unit"
                    />
                    <label
                      class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                      >Unit</label
                    >
                  </div>
                </div>
              }
              <button
                type="button"
                class="w-full rounded bg-blue-500 px-4 py-2 text-white"
                (click)="
                  recipe.ingredients.push({ name: '', quantity: 0, unit: '' })
                "
              >
                Add Ingredient
              </button>
            </div>
          </div>
        }

        <!-- Step 3: Instructions -->
        @if (currentStep === 3) {
          <div>
            <div class="mb-4">
              <label class="mb-2 block text-sm font-medium">Instructions</label>
              @for (
                instruction of recipe.instructions;
                track instruction;
                let i = $index
              ) {
                <div>
                  <div class="relative z-0 mb-4 w-full">
                    <input
                      type="number"
                      name="instructionStepNumber{{ i }}"
                      placeholder=" "
                      required
                      class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                      [(ngModel)]="recipe.instructions[i].stepNumber"
                    />
                    <label
                      class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                      >Step Number</label
                    >
                  </div>
                  <div class="relative z-0 mb-4 w-full">
                    <textarea
                      name="instructionDescription{{ i }}"
                      placeholder=" "
                      required
                      class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                      [(ngModel)]="recipe.instructions[i].description"
                    ></textarea>
                    <label
                      class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                      >Description</label
                    >
                  </div>
                </div>
              }
              <button
                type="button"
                class="w-full rounded bg-blue-500 px-4 py-2 text-white"
                (click)="
                  recipe.instructions.push({ stepNumber: 0, description: '' })
                "
              >
                Add Instruction
              </button>
            </div>
          </div>
        }

        <!-- Step 4: Nutrition Info -->
        @if (currentStep === 4) {
          <div>
            <div class="mb-4">
              <label class="mb-2 block text-sm font-medium"
                >Nutrition Info</label
              >
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="calories"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.calories"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Calories</label
                >
              </div>
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="fats"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.fats"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Fats</label
                >
              </div>
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="carbs"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.carbs"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Carbs</label
                >
              </div>
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="protein"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.protein"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Protein</label
                >
              </div>
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="fiber"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.fiber"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Fiber</label
                >
              </div>
              <div class="relative z-0 mb-4 w-full">
                <input
                  type="number"
                  name="sugar"
                  placeholder=" "
                  required
                  class="mt-0 block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 pb-2 pt-3 focus:border-black focus:outline-none focus:ring-0"
                  [(ngModel)]="recipe.nutritionInfo.sugar"
                />
                <label
                  class="-z-1 origin-0 absolute top-3 text-gray-500 duration-300"
                  >Sugar</label
                >
              </div>
            </div>
          </div>
        }

        <!-- Navigation Buttons -->
        <div class="flex justify-between">
          <button
            type="button"
            class="rounded bg-gray-500 px-4 py-2 text-white"
            (click)="prevStep()"
            [disabled]="currentStep === 1"
          >
            Back
          </button>
          @if (currentStep < 4) {
            <button
              type="button"
              class="rounded bg-blue-500 px-4 py-2 text-white"
              (click)="nextStep()"
            >
              Next
            </button>
          }
          @if (currentStep === 4) {
            <button
              type="submit"
              class="rounded bg-green-500 px-4 py-2 text-white"
            >
              Submit
            </button>
          }
        </div>
      </form>
    </div>
  </div>
</div>
