@if (recipe) {
  <div
    class="mx-auto my-10 max-w-2xl overflow-hidden rounded-lg bg-white shadow-md"
  >
    @if (isAdmin) {
      <div class="flex items-center justify-between">
        <button
          type="button"
          (click)="deleteRecipe($event)"
          class="ml-8 rounded-md bg-gray-100 p-4 hover:bg-red-500"
        >
          Delete
        </button>
        <button
          type="button"
          (click)="editRecipe($event)"
          class="mr-8 rounded-md bg-gray-100 p-4 hover:bg-yellow-300"
        >
          Edit
        </button>
      </div>
    }
    <div class="p-6 text-center">
      <img
        [src]="recipe.image"
        alt="No image found"
        class="mx-auto mb-4 h-40 w-40 rounded-full object-cover"
      />
      <div class="mt-4 flex justify-center">
        <button (click)="toggleLike()" class="focus:outline-none">
          @if (isLiked) {
            <svg
              class="h-8 w-8 text-red-500"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
          }
          @if (!isLiked) {
            <svg
              class="h-8 w-8 text-gray-500"
              fill="none"
              stroke="currentColor"
              viewBox="0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
          }
        </button>
      </div>

      <h1 class="mb-2 text-3xl font-bold">{{ recipe.name }}</h1>
      <p class="mb-4 text-gray-600">{{ recipe.description }}</p>
      <div class="flex justify-center">
        <div class="flex items-center">
          @for (star of starArray; track star) {
            <svg
              class="h-6 w-6 cursor-pointer text-yellow-500"
              [attr.fill]="getStarFill(star)"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              (click)="rateRecipe(star)"
            >
              <defs>
                <linearGradient id="half-star">
                  <stop offset="50%" stop-color="currentColor" />
                  <stop offset="50%" stop-color="background" />
                </linearGradient>
              </defs>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 2.5l3.094 6.26 6.906 1.004-5 4.864 1.18 6.882L12 17.727l-6.18 3.254L7 14.628 2 9.764l6.906-1.004L12 2.5z"
              />
              @if (isStarSelected(star)) {
                <path
                  class="text-orange-500"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 2.5l3.094 6.26 6.906 1.004-5 4.864 1.18 6.882L12 17.727l-6.18 3.254L7 14.628 2 9.764l6.906-1.004L12 2.5z"
                  fill="currentColor"
                />
              }
            </svg>
          }
        </div>
        <span class="ml-2 text-xl">{{
          recipe.averageRating?.toFixed(1) || 0
        }}</span>
        <span class="ml-2 text-gray-600"
          >({{ recipe.numberOfRatings }} votes)</span
        >
      </div>
    </div>
    <div class="flex justify-around bg-gray-100 p-4">
      <p><strong>Prep Time:</strong> {{ recipe.prepTime }} minutes</p>
      <p><strong>Cook Time:</strong> {{ recipe.cookTime }} minutes</p>
      <p><strong>Total Time:</strong> {{ recipe.totalTime }} minutes</p>
    </div>
    <div class="flex justify-around bg-gray-100 p-4">
      <p><strong>Servings:</strong> {{ recipe.servings }}</p>
      <p><strong>Country:</strong> {{ recipe.countryName }}</p>
      <p><strong>Type:</strong> {{ recipe.recipeType.name }}</p>
    </div>
    <div class="p-4">
      <h2 class="mb-2 text-center text-xl font-semibold">Ingredients</h2>
      <ul class="list-inside list-disc">
        @for (ingredient of recipe.ingredients; track ingredient) {
          <li>
            {{ ingredient.quantity }} {{ ingredient.unit }}
            {{ ingredient.name }}
          </li>
        }
      </ul>
    </div>
    <div class="p-4">
      <h2 class="mb-2 text-center text-xl font-semibold">Instructions</h2>
      <div class="space-y-2">
        @for (instruction of recipe.instructions; track instruction) {
          <div>
            <p>
              <strong>{{ instruction.stepNumber }}.</strong>
              {{ instruction.description }}
            </p>
          </div>
        }
      </div>
    </div>
    <div class="p bg-gray-100 p-4">
      <h2 class="mb-2 text-center text-xl font-semibold">Nutrition Info</h2>
      <ul class="flex justify-center space-x-4">
        <li><strong>Calories:</strong> {{ recipe.nutritionInfo.calories }}</li>
        <li><strong>Fats:</strong> {{ recipe.nutritionInfo.fats }} g</li>
        <li><strong>Carbs:</strong> {{ recipe.nutritionInfo.carbs }} g</li>
        <li><strong>Protein:</strong> {{ recipe.nutritionInfo.protein }} g</li>
        <li><strong>Fiber:</strong> {{ recipe.nutritionInfo.fiber }} g</li>
        <li><strong>Sugar:</strong> {{ recipe.nutritionInfo.sugar }} g</li>
      </ul>
    </div>
  </div>
  <div
    class="mx-auto my-10 max-w-2xl overflow-hidden rounded-lg bg-white shadow-md"
  >
    @if (recipe.recipeId) {
      <app-comments [recipeId]="recipe.recipeId"></app-comments>
    }
  </div>
}

@if (!recipe) {
  <div
    class="mx-auto my-10 max-w-3xl overflow-hidden rounded-lg bg-white shadow-md"
  >
    <div class="p-4 text-center">
      <p>Loading recipe...</p>
    </div>
  </div>
}
