<div class="container mx-auto p-4">
  <h2 class="mb-4 text-2xl">Recipe List</h2>
  <div class="mb-4 grid gap-4 md:grid-cols-2">
    <div class="mb-4">
      <label class="block text-sm font-medium">Name</label>
      <input
        class="w-full rounded border p-2"
        [(ngModel)]="filters.name"
        placeholder="Filter by name"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Country</label>
      <select class="w-full rounded border p-2" [(ngModel)]="filters.country">
        <option value="">All</option>
        @for (country of countries; track country) {
          <option [value]="country.countryName">
            {{ country.countryName }}
          </option>
        }
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Recipe Type</label>
      <select
        class="w-full rounded border p-2"
        [(ngModel)]="filters.recipeType"
      >
        <option value="">All</option>
        @for (type of recipeTypes; track type) {
          <option [value]="type.name">{{ type.name }}</option>
        }
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Total Time (minutes)</label>
      <input
        class="w-full rounded border p-2"
        type="number"
        [(ngModel)]="filters.totalTime"
        placeholder="Filter by total time"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Admin</label>
      <input
        class="w-full rounded border p-2"
        [(ngModel)]="filters.admin"
        placeholder="Filter by admin"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Average Rating</label>
      <input
        class="w-full rounded border p-2"
        type="number"
        [(ngModel)]="filters.averageRating"
        placeholder="Filter by rating"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium">Number of Ratings</label>
      <input
        class="w-full rounded border p-2"
        type="number"
        [(ngModel)]="filters.numberOfRatings"
        placeholder="Filter by number of ratings"
      />
    </div>
  </div>
  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    @for (recipe of filteredRecipes; track recipe) {
      <app-recipe-thumbnail [recipe]="recipe"></app-recipe-thumbnail>
    }
  </div>
</div>
